<!DOCTYPE html>
<html>
  <head>
    <title>LiveCoding.TV - User Community (Under Construction)</title>
    <%= stylesheet_link_tag    "application" , :media => "all" %>
    <%= javascript_include_tag "application"                   %>
    <%= csrf_meta_tags                                         %>
  </head>

  <body>

  <div id="top-nav-div">
    <%= render 'common/navbar' %>
  </div>

  <div id="content-div">
    <%= render 'common/flash' %>
    <%= yield %>
  </div>

  </body>
</html>
