<!DOCTYPE html>
<html>
  <head>
   <title>LiveCoding.TV - User Community (Under Construction)</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags                                         %>
  </head>

  <body>

  <div id="top-nav-div">
    <%= render 'shared/navbar' %>
  </div>

  <div id="content-div">
    <%= render 'shared/flash' %>
    <%= yield %>
  </div>

  </body>
</html>
