<!DOCTYPE html>
<html>
<head>
  <title>LiveCoding.TV - User Community (Under Construction)</title>
  <%= stylesheet_link_tag "application" , :media => "all" %>
  <%= csrf_meta_tags %>

  <script>
    /**\
    |**| @licstart  The following is the entire license notice for the
    |**| JavaScript code in this page.
    |**|
    |**| Copyright 2016 bill-auger <bill-auger@programmer.net>
    |**|
    |**|
    |**| The JavaScript code in this page is free software: you can
    |**| redistribute it and/or modify it under the terms of the GNU
    |**| General Public License (GNU GPL) as published by the Free Software
    |**| Foundation, either version 3 of the License, or (at your option)
    |**| any later version.  The code is distributed WITHOUT ANY WARRANTY;
    |**| without even the implied warranty of MERCHANTABILITY or FITNESS
    |**| FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.
    |**|
    |**| As additional permission under GNU GPL version 3 section 7, you
    |**| may distribute non-source (e.g., minimized or compacted) forms of
    |**| that code without the copy of the GNU GPL normally required by
    |**| section 4, provided you include this license notice and a URL
    |**| through which recipients can access the Corresponding Source.
    |**|
    |**| @licend  The above is the entire license notice
    |**| for the JavaScript code in this page.
    \**/
  </script>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="top-nav-div" class="nav">
  <span id="top-nav-l-span">
    <%= image_tag 'livecodinglogo-inverted.png' , :id      => 'top-nav-logo-img'               ,
                                                  :onclick => 'navigate("' + LCTV_URL + '") ;' ,
                                                  :alt     => 'livecoding.tv logo'             %>
  </span>
  <span id="top-nav-c-span">
    <span onclick="window.location = '/'                         ;">Home</span>
    <span onclick="window.location = '<%= LCTV_BADGES_URL    %>' ;">Badges</span>
    <span onclick="window.location = '<%= LCTV_EMOTICONS_URL %>' ;">Emoticons</span>
    <span onclick="window.location = '<%= LCTV_PROJECTS_URL  %>' ;">Projects</span>
  </span>

  <span id="top-nav-r-span">
<% lctv_user = 'afterdesign' %><!-- FIXME: -->
    <% mail_url   = LCTV_URL + lctv_user + '/settings/messages/'      %>
    <% alerts_url = LCTV_URL + lctv_user + '/settings/notifications/' %>
    <% fans_url   = LCTV_URL + lctv_user + '/settings/followers/'     %>
    <% user_url   = LCTV_URL + lctv_user + '/'                        %>

    <%= image_tag 'mail.png' ,    :id      => 'top-nav-icon'                             ,
                                  :onclick => 'window.location = "' + mail_url   + '" ;' ,
                                  :alt     => 'messages'                                 %>
    <%= image_tag 'bell.png' ,    :id      => 'top-nav-icon'                             ,
                                  :onclick => 'window.location = "' + alerts_url + '" ;' ,
                                  :alt     => 'notifications'                            %>
    <%= image_tag 'follows.png' , :id      => 'top-nav-icon'                             ,
                                  :onclick => 'window.location = "' + fans_url   + '" ;' ,
                                  :alt     => 'follows'                                  %>
    <%= image_tag 'my-mm.png'   , :id      => 'top-nav-icon'                             ,
                                  :onclick => 'window.location = "' + user_url   + '" ;' ,
                                  :alt     => 'avatar'                                   %>
  </span>
</div>


<div id="content-div">
  <%= yield %>
</div>

</body>
</html>
